/*Nestign anidamiento*/
body {
  font-family: "Raleway";
}

P {
  font-size: 16px;
  font-weight: 400;
  color: #FAFAFA;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #FAFAFA;
  margin-bottom: 32px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #FAFAFA;
  margin-bottom: 50px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  color: #FAFAFA;
  margin-bottom: 20px;
}

li {
  color: #FAFAFA;
}

ul {
  padding-inline-start: 20px;
}

.pre-footer {
  padding: 16px 0px;
  margin-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFAD62;
}
@media (min-width: 1040px) {
  .navbar-light .navbar-nav .nav-link {
    margin: 0px 12px;
  }
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #FFAD62;
}

.navbar {
  background-color: #0F0F0F;
  height: 64px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #FFAD62;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFAD62;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #FAFAFA;
}

.dropdown-menu {
  border: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
}

.dropdown-item:hover {
  background-color: #FAFAFA;
}

@media (max-width: 992px) {
  .mobileMenu {
    transform: translateX(100%);
    position: fixed;
    top: 0px;
    bottom: 0;
    margin: auto;
    left: 0;
    transition: all ease 0.25s;
  }
  .mobileMenu.open {
    transform: translateX(0%);
  }
  .mobileMenu .navbar-nav {
    overflow-y: auto;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .overlay.open {
    display: block;
    z-index: 1029;
  }
}
.mobileMenu {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.mobileMenu.open {
  transform: translateX(0%);
}

@media (max-width: 992px) {
  .mobileMenu {
    top: 20px;
  }
}
.navbar-toggler {
  padding: 0, 75rem 0, 75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 1rem;
  margin-top: 10px;
}

.form-row label {
  display: block;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  color: #FAFAFA;
}

.form-select {
  background-color: transparent;
  border-color: #FAFAFA;
  border-radius: 4px;
  color: #FAFAFA;
}

.form-control {
  height: 36px;
  color: #FAFAFA;
  background-color: transparent;
  border-color: #FAFAFA;
  border-radius: 4px;
}

.form-control:hover {
  background-color: #0F0F0F;
}

.form-control:focus {
  background-color: #0F0F0F;
  border-color: #FF9C40;
  box-shadow: none;
  color: #FAFAFA;
}

select {
  height: 36px;
  color: #FAFAFA;
  background-color: transparent;
  border-color: #FAFAFA;
  border-radius: 4px;
}

select:hover {
  background-color: #0F0F0F;
}

.form-select:focus {
  background-color: #0F0F0F;
  border-color: #FF9C40;
  box-shadow: none;
  color: #FAFAFA;
}

.form-check-label {
  color: #FAFAFA;
  font-weight: 700;
  font-size: 16px;
}

footer {
  background-color: #0F0F0F;
  border-top: 1px solid #FFAD62;
  padding-top: 20px;
}
footer a {
  color: #FAFAFA;
}
footer a:hover {
  color: #FFAD62;
}
footer ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
footer li {
  margin-top: 20px;
}

.card-proyecto {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.button, .card-proyecto a, .navbar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: #262626;
  padding-top: 120px;
}

.container-long {
  width: 1600px;
  height: 480px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1040px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 10px;
}

#extra-padd {
  margin: 12px 40px 12px 0px;
}

.extra {
  margin-top: 10px;
}

.extreme {
  width: 100%;
}

.extra-padding {
  padding: 80px 0px;
}

.align-center {
  text-align: center;
}

#extra-padding {
  margin-top: 42px;
}

.minus-padding {
  padding-top: 50px;
}

.align-right {
  text-align: right;
}

.especial {
  background-color: #0f0f0f;
  padding: 118px 0px;
}

#last-element {
  padding-bottom: 120px;
}

.detail-text {
  color: #FFAD62;
}

.card-proyecto {
  padding: 20px 20px 20px 0px;
  border-radius: 8px;
}
.card-proyecto a {
  position: absolute;
  font-size: 24px;
  font-weight: 500;
  color: #FAFAFA;
  padding: 10px;
  text-decoration: none;
}
.card-proyecto:hover {
  color: #FF9C40;
}

.button {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  margin-right: 8px;
}

.button-filled {
  background-color: #FFAD62;
  border: none;
  padding: 8px 16px;
}
.button-filled a {
  color: #0F0F0F;
  text-decoration: none;
}

.button-outlined {
  background-color: transparent;
  border: 2px solid #FFAD62;
  padding: 6px 16px;
}
.button-outlined a {
  color: #FFAD62;
  text-decoration: none;
}

.button-text {
  background-color: transparent;
  border: none;
  margin-left: -16px;
  padding: 8px 16px;
  color: #FFAD62;
}
.button-text a {
  color: #FFAD62;
  text-decoration: none;
}

.button-circle {
  background-color: transparent;
  border: none;
  padding: 8px 0px 8px 12px;
}

.carrito {
  background-color: #FAFAFA;
  color: #0F0F0F;
}

/*# sourceMappingURL=style.css.map */
