.form-row label {
    display: block;
    font-family: $font-family;
    font-weight: $semibold;
    font-size: $body;
    color: $white;
}
  
.form-select {
    background-color: transparent;
    border-color: $white;
    border-radius: 4px;
    color: $white;
}

select { 
    height: 36px;
    color: $white;
    background-color: transparent;
    border-color: $white;
    border-radius: 4px;
}

select:hover {
    background-color: $black;
}
  
.form-select:focus {
    background-color: $black;
    border-color: $primary-middle-hovered;
    box-shadow: none;
    color: $white;
}
  
.form-check-label {
    color: $white;
    font-weight: $bold;
    font-size: $body;
}
