$white : #FAFAFA;
$primary: #FFAD62;
$primary-middle-hovered: #FF9C40;
$primary-dark-pressed: #F27C0F;
$primary-hovered: rgba(255, 173, 98, 0.08);
$primary-pressed: rgba(225,172,98, 0.12);
$black: #0F0F0F;
$black-middle: #262626;
